@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .nav-link{
        text-decoration: underline;
    }
    .nav-link:hover{
        color:white;
        font-size: larger;
    }
    .section-heading{
        font-weight: 700;
        font-size: 3rem;
        line-height: 5rem;
        text-align: center;
        text-decoration: underline;
    }
    .section{
        color: black;
        padding: 1.25rem;
        border-top: solid 3px;
        min-height:80vh;
    }
    /* section content */
    div.section div:nth-child(2){
     text-align: justify;   
    }
    .content{
        padding: 1.25rem;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .services > div{
        display: flex;
        justify-content: justify;
        align-items: center;
    }
    .link-image{
        height:2rem;
        border-radius:12px;
    }
    .link-image:hover{
        height:2.25rem;
    }
    #about-us{
        background: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.4)), url("./public/about-us.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position:20%;
    }
    #objective{
        background: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.4)), url("./public/objectives.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
    }
    #vision{
        background: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.4)), url("./public/vision.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position:20%;
    }
    #mission{
        background: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.4)), url("./public/mission.png");
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center
    }
    #services{
        background: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.4)), url("./public/services.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
    }

}